html, body {
    height: 100%;
    background-color: #668DAB;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    float: left;
    width: 150px;
    border: 1px solid black;
}

.login {
    float: right;
}

.flash_message {
    color: white;
    font-size: 115%;
    position: absolute;
    padding: 1em;
    width: 30%;
    margin-top: 10%;
    margin-left: 30%;
    text-align: center;
    background-color: #446B89;
}

#wrapper {
    border: 1em solid #779EBC;
    background-color: white;
    margin: 2em;
    min-height: 80%;
    padding: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

#title_bar {
    padding: 10px;
    margin: 0 0 1em 0;
    text-align: center;
    clear: both;
}

#menu {
    padding: 10px;
    margin: 0;
    display: block;
    width: 160px;
    border: 1px solid black;
}

#item_canvas {
    padding: 10px;
    margin: 0;
    display: inline-block;
    border: 1px solid black;
}

#map_canvas {
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 450px;
    width: 450px;
}

#content, #menu, #item_canvas, #map_canvas {
    position: relative;
    float: left;
    margin-left: 10px;
}